### **Python pandas library - storing and manipulating data in "dataframes" (tables)**

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Cities.csv**, **Countries.csv**, **Players.csv**, and **Teams.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [1]:
# Set-up
import pandas as pd
import numpy as np
pd.set_option('display.min_rows', 20)

### Reading from CSV file into dataframe

In [2]:
f = open('Cities.csv')
cities = pd.read_csv(f)

In [3]:
cities

            city         country  latitude  longitude  temperature
0        Aalborg         Denmark     57.03       9.92         7.52
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
2         Abisko          Sweden     63.35      18.83         0.20
3          Adana          Turkey     36.99      35.32        18.67
4       Albacete           Spain     39.00      -1.87        12.62
5      Algeciras           Spain     36.13      -5.47        17.38
6         Amiens          France     49.90       2.30        10.17
7      Amsterdam     Netherlands     52.35       4.92         8.93
8         Ancona           Italy     43.60      13.50        13.52
9        Andorra         Andorra     42.50       1.52         9.60
..           ...             ...       ...        ...          ...
203       Vienna         Austria     48.20      16.37         7.86
204         Vigo           Spain     42.22      -8.73        12.85
205      Vilnius       Lithuania     54.68      25.32         5.38
206       Warsaw          Poland     52.25      21.00         7.20
207      Wroclaw          Poland     51.11      17.03         7.17
208  Yevpatoriya         Ukraine     45.20      33.36        10.02
209     Zaragoza           Spain     41.65      -0.89        14.17
210     Zhytomyr         Ukraine     50.25      28.66         6.67
211    Zonguldak          Turkey     41.43      31.78        10.64
212       Zurich     Switzerland     47.38       8.56         6.68

[213 rows x 5 columns]

In [4]:
# Number of rows
len(cities)

213

In [5]:
# First few rows
cities.head()

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62

In [7]:
# Last 15 rows
cities.tail(15)

            city      country  latitude  longitude  temperature
198      Trikala       Greece     39.56      21.77        16.00
199    Trondheim       Norway     63.42      10.42         4.53
200        Turku      Finland     60.45      22.25         4.72
201      Uppsala       Sweden     59.86      17.64         4.17
202     Valencia        Spain     39.49      -0.40        16.02
203       Vienna      Austria     48.20      16.37         7.86
204         Vigo        Spain     42.22      -8.73        12.85
205      Vilnius    Lithuania     54.68      25.32         5.38
206       Warsaw       Poland     52.25      21.00         7.20
207      Wroclaw       Poland     51.11      17.03         7.17
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

### Sorting, selecting rows and columns

In [8]:
# Sorting by country then descending temperature
cities.sort_values(['country','temperature'],ascending=[True,False])

           city         country  latitude  longitude  temperature
78      Elbasan         Albania     41.12      20.08        15.18
9       Andorra         Andorra     42.50       1.52         9.60
203      Vienna         Austria     48.20      16.37         7.86
95         Graz         Austria     47.08      15.41         6.91
125        Linz         Austria     48.32      14.29         6.79
175    Salzburg         Austria     47.81      13.04         4.62
105   Innsbruck         Austria     47.28      11.41         4.54
47        Brest         Belarus     52.10      23.70         6.73
161       Pinsk         Belarus     52.13      26.09         6.42
138       Mazyr         Belarus     52.05      29.27         6.25
..          ...             ...       ...        ...          ...
58    Cambridge  United Kingdom     52.20       0.12         9.25
34    Blackpool  United Kingdom     53.83      -3.05         9.15
33   Birmingham  United Kingdom     52.47      -1.92         8.81
92      Glasgow  United Kingdom     55.87      -4.25         8.60
24      Belfast  United Kingdom     54.60      -5.96         8.48
41     Bradford  United Kingdom     53.80      -1.75         8.39
1      Aberdeen  United Kingdom     57.17      -2.08         8.10
106   Inverness  United Kingdom     57.47      -4.23         8.00
76    Edinburgh  United Kingdom     55.95      -3.22         7.43
75       Dundee  United Kingdom     56.47      -3.00         6.40

[213 rows x 5 columns]

In [9]:
# Selecting a single column
cities.city
# Also show cities['city'], cities['temperature'], cities.temperature

0          Aalborg
1         Aberdeen
2           Abisko
3            Adana
4         Albacete
5        Algeciras
6           Amiens
7        Amsterdam
8           Ancona
9          Andorra
          ...
203         Vienna
204           Vigo
205        Vilnius
206         Warsaw
207        Wroclaw
208    Yevpatoriya
209       Zaragoza
210       Zhytomyr
211      Zonguldak
212         Zurich
Name: city, Length: 213, dtype: object

In [10]:
# Selecting multiple columns
cities[['city','temperature']]

            city  temperature
0        Aalborg         7.52
1       Aberdeen         8.10
2         Abisko         0.20
3          Adana        18.67
4       Albacete        12.62
5      Algeciras        17.38
6         Amiens        10.17
7      Amsterdam         8.93
8         Ancona        13.52
9        Andorra         9.60
..           ...          ...
203       Vienna         7.86
204         Vigo        12.85
205      Vilnius         5.38
206       Warsaw         7.20
207      Wroclaw         7.17
208  Yevpatoriya        10.02
209     Zaragoza        14.17
210     Zhytomyr         6.67
211    Zonguldak        10.64
212       Zurich         6.68

[213 rows x 2 columns]

In [11]:
# Selecting rows based on condition
# Note: no need to do type conversion - pandas infers types for columns
cities[cities.longitude < 0]

            city         country  latitude  longitude  temperature
1       Aberdeen  United Kingdom     57.17      -2.08         8.10
4       Albacete           Spain     39.00      -1.87        12.62
5      Algeciras           Spain     36.13      -5.47        17.38
10        Angers          France     47.48      -0.53        10.98
17       Badajoz           Spain     38.88      -6.97        15.61
24       Belfast  United Kingdom     54.60      -5.96         8.48
32        Bilbao           Spain     43.25      -2.93        11.41
33    Birmingham  United Kingdom     52.47      -1.92         8.81
34     Blackpool  United Kingdom     53.83      -3.05         9.15
38      Bordeaux          France     44.85      -0.60        11.87
40   Bournemouth  United Kingdom     50.73      -1.90         9.97
41      Bradford  United Kingdom     53.80      -1.75         8.39
42         Braga        Portugal     41.55      -8.42        13.42
46         Brest          France     48.39      -4.50        11.02
53        Burgos           Spain     42.35      -3.68        10.45
57          Caen          France     49.18      -0.35         9.96
59     Cartagena           Spain     37.60      -0.98        17.32
67          Cork         Ireland     51.90      -8.50         9.41
74        Dublin         Ireland     53.33      -6.25         8.49
75        Dundee  United Kingdom     56.47      -3.00         6.40
76     Edinburgh  United Kingdom     55.95      -3.22         7.43
84        Exeter  United Kingdom     50.70      -3.53        10.14
88        Galway         Ireland     53.27      -9.05        10.00
92       Glasgow  United Kingdom     55.87      -4.25         8.60
94       Granada           Spain     37.16      -3.59        16.33
103       Huelva           Spain     37.25      -6.93        17.09
106    Inverness  United Kingdom     57.47      -4.23         8.00
126       Lisbon        Portugal     38.72      -9.14        15.52
130       Madrid           Spain     40.40      -3.68        11.19
136     Marbella           Spain     36.52      -4.88        17.19
145       Murcia           Spain     37.98      -1.13        15.00
155       Oviedo           Spain     43.35      -5.83        10.85
174    Salamanca           Spain     40.97      -5.67        11.63
177    Santander           Spain     43.38      -3.80        13.40
188      Swansea  United Kingdom     51.63      -3.95         9.73
202     Valencia           Spain     39.49      -0.40        16.02
204         Vigo           Spain     42.22      -8.73        12.85
209     Zaragoza           Spain     41.65      -0.89        14.17

In [12]:
# Selecting rows by number
cities[15:20]
# Show cities[:8] and cities[200:]

         city  country  latitude  longitude  temperature
15   Augsburg  Germany     48.35      10.90         4.54
16      Bacau  Romania     46.58      26.92         7.51
17    Badajoz    Spain     38.88      -6.97        15.61
18  Baia Mare  Romania     47.66      23.58         8.87
19      Balti  Moldova     47.76      27.91         8.23

In [13]:
# Putting it together: selecting rows, selecting columns, sorting
# City and longitude of all cities with latitude > 50 and
# temperature > 9, sorted by longitude
temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)]
temp2 = temp1[['city','longitude']]
temp3 = temp2.sort_values('longitude')
temp3
# Show eliminating temp3, then temp2, then temp1 (use \ for long lines)
# Note similar functionality to SQL

            city  longitude
88        Galway      -9.05
67          Cork      -8.50
188      Swansea      -3.95
84        Exeter      -3.53
34     Blackpool      -3.05
40   Bournemouth      -1.90
58     Cambridge       0.12
123        Lille       3.08
49        Brugge       3.23

### <font color="green">**Your Turn**</font>

In [14]:
# Read the Countries.csv file into a dataframe
f = open('Countries.csv')
countries = pd.read_csv(f)
countries.head()

   country  population   EU coastline
0  Albania        2.90   no       yes
1  Andorra        0.07   no        no
2  Austria        8.57  yes        no
3  Belarus        9.48   no        no
4  Belgium       11.37  yes       yes

In [17]:
# Find all countries that are not in the EU and don't
# have coastline, together with their populations,
# sorted by population (smallest to largest)
countries_no_eu_no_coast = countries[(countries.EU == 'no') & (countries.coastline == 'no')]
countries_pop = countries_no_eu_no_coast[['country','population']]
countries_sort = countries_pop.sort_values('population')
countries_sort

          country  population
22  Liechtenstein        0.04
1         Andorra        0.07
20         Kosovo        1.91
25      Macedonia        2.08
26        Moldova        4.06
38    Switzerland        8.38
33         Serbia        8.81
3         Belarus        9.48

### Aggregation

In [18]:
# Minimum and maximum temperature
print('Minimum temperature:', min(cities.temperature))
print('Maximum temperature:', max(cities.temperature))

Minimum temperature: -2.2
Maximum temperature: 18.67

In [20]:
# Average temperature
print('Using numpy average:', np.average(cities.temperature))
print('Using built-in mean:', cities.temperature.mean())

Using numpy average: 9.497840375586854
Using built-in mean: 9.497840375586854

In [21]:
# Average temperature of cities in each country
cities.groupby('country').temperature.mean()

country
Albania                   15.180000
Andorra                    9.600000
Austria                    6.144000
Belarus                    5.946667
Belgium                    9.650000
Bosnia and Herzegovina     9.600000
Bulgaria                  10.440000
Croatia                   10.865000
Czech Republic             7.856667
Denmark                    7.625000
Estonia                    4.590000
Finland                    3.487500
France                    10.151111
Germany                    7.869286
Greece                    16.902500
Hungary                    9.602500
Ireland                    9.300000
Italy                     13.474667
Latvia                     5.270000
Lithuania                  6.143333
Macedonia                  9.360000
Moldova                    8.415000
Montenegro                 9.990000
Netherlands                8.756667
Norway                     3.726000
Poland                     7.250000
Portugal                  14.470000
Romania                    9.224444
Serbia                     9.850000
Slovakia                   8.480000
Slovenia                   9.270000
Spain                     14.238333
Sweden                     3.586667
Switzerland                7.253333
Turkey                    11.726667
Ukraine                    7.420000
United Kingdom             8.650000
Name: temperature, dtype: float64

### <font color="green">**Your Turn**</font>

In [23]:
# Find the average population of countries with coastline
# and countries without coastline
# Hint: You can use groupby!
average_pop = countries.groupby('coastline').population.mean()
average_pop

coastline
no      5.367692
yes    20.947931
Name: population, dtype: float64

In [24]:
# Then modify to group by both coastline and EU
average_pop2 = countries.groupby(['coastline','EU']).population.mean()
average_pop2

coastline  EU
no         no      4.353750
           yes     6.990000
yes        no     19.595714
           yes    21.378182
Name: population, dtype: float64

### Joining

In [26]:
cities.merge(countries, on='country')

,city,country,latitude,longitude,temperature,population,EU,coastline
0,Aalborg,Denmark,57.03,9.92,7.52,5.69,yes,yes
1,Odense,Denmark,55.40,10.38,7.73,5.69,yes,yes
2,Aberdeen,United Kingdom,57.17,-2.08,8.10,65.11,yes,yes
3,Belfast,United Kingdom,54.60,-5.96,8.48,65.11,yes,yes
4,Birmingham,United Kingdom,52.47,-1.92,8.81,65.11,yes,yes
5,Blackpool,United Kingdom,53.83,-3.05,9.15,65.11,yes,yes
6,Bournemouth,United Kingdom,50.73,-1.90,9.97,65.11,yes,yes
7,Bradford,United Kingdom,53.80,-1.75,8.39,65.11,yes,yes
8,Cambridge,United Kingdom,52.20,0.12,9.25,65.11,yes,yes
9,Dundee,United Kingdom,56.47,-3.00,6.40,65.11,yes,yes
...,...,...,...,...,...,...,...,...
203,Klaipeda,Lithuania,55.72,21.12,7.00,2.85,yes,yes
204,Vilnius,Lithuania,54.68,25.32,5.38,2.85,yes,yes
205,Ljubljana,Slovenia,46.06,14.51,9.27,2.07,yes,yes
206,Podgorica,Montenegro,42.47,19.27,9.99,0.63,no,yes
207,Rijeka,Croatia,45.33,14.45,9.27,4.23,yes,yes
208,Split,Croatia,43.52,16.47,12.46,4.23,yes,yes
209,Sarajevo,Bosnia and Herzegovina,43.85,13.38,9.60,3.80,no,yes
210,Skopje,Macedonia,42.00,21.43,9.36,2.08,no,no
211,Tallinn,Estonia,59.43,24.73,4.82,1.31,yes,yes
212,Tartu,Estonia,58.38,26.71,4.36,1.31,yes,yes

In [27]:
# Joining is symmetric
countries.merge(cities, on='country')

,country,population,EU,coastline,city,latitude,longitude,temperature
0,Albania,2.90,no,yes,Elbasan,41.12,20.08,15.18
1,Andorra,0.07,no,no,Andorra,42.50,1.52,9.60
2,Austria,8.57,yes,no,Graz,47.08,15.41,6.91
3,Austria,8.57,yes,no,Innsbruck,47.28,11.41,4.54
4,Austria,8.57,yes,no,Linz,48.32,14.29,6.79
5,Austria,8.57,yes,no,Salzburg,47.81,13.04,4.62
6,Austria,8.57,yes,no,Vienna,48.20,16.37,7.86
7,Belarus,9.48,no,no,Brest,52.10,23.70,6.73
8,Belarus,9.48,no,no,Hrodna,53.68,23.83,6.07
9,Belarus,9.48,no,no,Mazyr,52.05,29.27,6.25
...,...,...,...,...,...,...,...,...
203,United Kingdom,65.11,yes,yes,Blackpool,53.83,-3.05,9.15
204,United Kingdom,65.11,yes,yes,Bournemouth,50.73,-1.90,9.97
205,United Kingdom,65.11,yes,yes,Bradford,53.80,-1.75,8.39
206,United Kingdom,65.11,yes,yes,Cambridge,52.20,0.12,9.25
207,United Kingdom,65.11,yes,yes,Dundee,56.47,-3.00,6.40
208,United Kingdom,65.11,yes,yes,Edinburgh,55.95,-3.22,7.43
209,United Kingdom,65.11,yes,yes,Exeter,50.70,-3.53,10.14
210,United Kingdom,65.11,yes,yes,Glasgow,55.87,-4.25,8.60
211,United Kingdom,65.11,yes,yes,Inverness,57.47,-4.23,8.00
212,United Kingdom,65.11,yes,yes,Swansea,51.63,-3.95,9.73

### Miscellaneous features

In [28]:
# String operations - countries with 'ia' in their name
countries[countries.country.str.contains('ia')]

                   country  population   EU coastline
0                  Albania        2.90   no       yes
2                  Austria        8.57  yes        no
5   Bosnia and Herzegovina        3.80   no       yes
6                 Bulgaria        7.10  yes       yes
7                  Croatia        4.23  yes       yes
11                 Estonia        1.31  yes       yes
21                  Latvia        1.96  yes       yes
23               Lithuania        2.85  yes       yes
25               Macedonia        2.08   no        no
32                 Romania       19.37  yes       yes
33                  Serbia        8.81   no        no
34                Slovakia        5.43  yes        no
35                Slovenia        2.07  yes       yes

In [29]:
# Add fahrenheit column
cities['fahrenheit'] = (cities.temperature * 9/5) + 32
cities

            city         country  latitude  longitude  temperature  fahrenheit
0        Aalborg         Denmark     57.03       9.92         7.52      45.536
1       Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
2         Abisko          Sweden     63.35      18.83         0.20      32.360
3          Adana          Turkey     36.99      35.32        18.67      65.606
4       Albacete           Spain     39.00      -1.87        12.62      54.716
5      Algeciras           Spain     36.13      -5.47        17.38      63.284
6         Amiens          France     49.90       2.30        10.17      50.306
7      Amsterdam     Netherlands     52.35       4.92         8.93      48.074
8         Ancona           Italy     43.60      13.50        13.52      56.336
9        Andorra         Andorra     42.50       1.52         9.60      49.280
..           ...             ...       ...        ...          ...         ...
203       Vienna         Austria     48.20      16.37         7.86      46.148
204         Vigo           Spain     42.22      -8.73        12.85      55.130
205      Vilnius       Lithuania     54.68      25.32         5.38      41.684
206       Warsaw          Poland     52.25      21.00         7.20      44.960
207      Wroclaw          Poland     51.11      17.03         7.17      44.906
208  Yevpatoriya         Ukraine     45.20      33.36        10.02      50.036
209     Zaragoza           Spain     41.65      -0.89        14.17      57.506
210     Zhytomyr         Ukraine     50.25      28.66         6.67      44.006
211    Zonguldak          Turkey     41.43      31.78        10.64      51.152
212       Zurich     Switzerland     47.38       8.56         6.68      44.024

[213 rows x 6 columns]

In [40]:
# Sometimes temporary dataframe is needed
# Cities with latitude > 50 not in the EU (error then fix)
cities.merge(countries, on='country')
cities[(cities.latitude > 50) & (countries.EU == 'no')]

           city         country  latitude  longitude  temperature  fahrenheit
0       Aalborg         Denmark     57.03       9.92         7.52      45.536
1      Aberdeen  United Kingdom     57.17      -2.08         8.10      46.580
27       Bergen          Norway     60.39       5.32         1.75      35.150
29    Bialystok          Poland     53.15      23.17         6.07      42.926
33   Birmingham  United Kingdom     52.47      -1.92         8.81      47.858
40  Bournemouth  United Kingdom     50.73      -1.90         9.97      49.946

In [47]:
# Notebook only displays result of last line
# Before last line need to use print
cities[cities.longitude > 35]
print(cities[cities.longitude > 35])
cities[cities.longitude < -5]
print(cities[cities.longitude < -5])

          city  country  latitude  longitude  temperature  fahrenheit
3        Adana   Turkey     36.99      35.32        18.67      65.606
23      Batman   Turkey     37.89      41.14        14.16      57.488
81    Erzincan   Turkey     39.75      39.49         8.67      47.606
82     Erzurum   Turkey     39.92      41.29         5.17      41.306
89   Gaziantep   Turkey     37.07      37.38        13.46      56.228
101   Horlivka  Ukraine     48.30      38.05         7.12      44.816
112    Kayseri   Turkey     38.73      35.49         8.89      48.002
132  Makiyivka  Ukraine     48.03      37.97         8.70      47.660
133    Malatya   Turkey     38.37      38.30        14.13      57.434
150       Ordu   Turkey     41.00      37.87        11.92      53.456
176     Samsun   Turkey     41.28      36.34        12.05      53.690
180      Siirt   Turkey     37.94      41.93        12.48      54.464
181      Sivas   Turkey     39.75      37.03         8.05      46.490
196    Trabzon   Turkey     40.98      39.72        10.28      50.504
          city         country  latitude  longitude  temperature  fahrenheit
5    Algeciras           Spain     36.13      -5.47        17.38      63.284
17     Badajoz           Spain     38.88      -6.97        15.61      60.098
24     Belfast  United Kingdom     54.60      -5.96         8.48      47.264
42       Braga        Portugal     41.55      -8.42        13.42      56.156
67        Cork         Ireland     51.90      -8.50         9.41      48.938
74      Dublin         Ireland     53.33      -6.25         8.49      47.282
88      Galway         Ireland     53.27      -9.05        10.00      50.000
103     Huelva           Spain     37.25      -6.93        17.09      62.762
126     Lisbon        Portugal     38.72      -9.14        15.52      59.936
155     Oviedo           Spain     43.35      -5.83        10.85      51.530
174  Salamanca           Spain     40.97      -5.67        11.63      52.934
204       Vigo           Spain     42.22      -8.73        12.85      55.130

### <font color="green">**Your Turn**</font>

In [50]:
# The countries dataset was created before "Brexit", so the data has
# EU = 'yes' for the United Kingdom.
# Determine how the average temperature for EU cities and the average
# temperature for non-EU cities changed after Brexit.
# For the pre-Brexit averages, use the EU and non-EU countries in the data,
# and for the post-Brexit averages treat the United Kingdom as not in the EU.
#
# Your output can look something like this:
#   EU before Brexit: [average temperature here]
#   Non-EU before Brexit: [average temperature here]
#   EU after Brexit: [average temperature here]
#   Non-EU after Brexit: [average temperature here]
#
# Hint: You can solve this one using straightforward constructs in just five
# lines by creating a joined dataframe, then averaging the temperatures for
# four different sets of conditions on the dataframe; no need for groupby.
# Hint: For the 'or' of two conditions in pandas, use '|' instead of '&'
#
# An alternative solution that modifies the data in place only requires four
# lines (including groupby), but it uses constructs that haven't been covered.
#
EU_before = countries[countries.EU == 'yes']
EU_before_avg = EU_before.merge(cities, on='country').temperature.mean()

nonEU_before = countries[countries.EU == 'no']
nonEU_before_avg = nonEU_before.merge(cities, on='country').temperature.mean()

eu_after = countries
eu_after.loc[eu_after.country == 'United Kingdom', 'EU'] = 'no'
eu_after = eu_after[eu_after.EU == 'yes']
eu_after_avg = eu_after.merge(cities, on='country').temperature.mean()

nonEU_after = countries[countries.EU == 'no']
nonEU_after_avg = nonEU_after.merge(cities, on='country').temperature.mean()

print('EU before Brexit:', EU_before_avg)
print('Non-EU before Brexit:', nonEU_before_avg)
print('EU after Brexit:', eu_after_avg)
print('Non-EU after Brexit:', nonEU_after_avg)

EU before Brexit: 9.694133333333333
Non-EU before Brexit: 9.03047619047619
EU after Brexit: 9.793211678832117
Non-EU after Brexit: 8.965394736842107

In [124]:
citiesext = cities.merge(countries, on='country')
print('EU before Brexit:', citiesext[citiesext['EU'] == 'yes']['temperature'].mean())
print('Non-EU before Brexit:', citiesext[citiesext['EU'] == 'no']['temperature'].mean())
print('EU after Brexit:', citiesext[(citiesext['EU'] == 'yes') & (citiesext['country'] != 'United Kingdom')]['temperature'].mean())
print('Non-EU after Brexit:', citiesext[(citiesext['EU'] == 'no') | (citiesext['country'] == 'United Kingdom')]['temperature'].mean())

EU before Brexit: 9.793211678832117
Non-EU before Brexit: 8.965394736842105
EU after Brexit: 9.793211678832117
Non-EU after Brexit: 8.965394736842105

### <font color="green">**Your Turn: World Cup Data**</font>

In [51]:
# Read the Players and Teams data into dataframes
f = open('Players.csv')
players = pd.read_csv(f)
f = open('Teams.csv')
teams = pd.read_csv(f)

In [52]:
# Show first few rows of players
players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [53]:
# Show first few rows of teams
teams.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

####*All four of these problems can be solved with one or two lines of code*

In [54]:
# What player on a team with â€œiaâ€ in the team name played less than
# 200 minutes and made more than 100 passes? Print the player surname.
teams_ia = teams[teams.team.str.contains('ia')]
players_ia = players.merge(teams_ia, on='team')
players_ia[(players_ia.minutes < 200) & (players_ia.passes > 100)].surname

60    Kuzmanovic
Name: surname, dtype: object

In [55]:
# What is the average number of passes made by forwards? By midfielders?
# Make sure the answer specifies which is which, and don't include other
# positions in your result.

players_for = players[players.position == 'forward']
players_mid = players[players.position == 'midfielder']
print('Forwards:', players_for.passes.mean())
print('Midfielders:', players_mid.passes.mean())

Forwards: 50.82517482517483
Midfielders: 95.2719298245614

In [57]:
# Which team has the highest ratio of goalsFor to goalsAgainst?
# Print the team name only.
# Hint: Add a "ratio" column to the teams dataframe, then sort,
# then use head(1) or tail(1) depending how you sorted
teams['ratio'] = teams.goalsFor / teams.goalsAgainst
highest_ratio = teams.sort_values('ratio', ascending=False).head(1).team
print(highest_ratio)

2    Portugal
Name: team, dtype: object

In [60]:
# How many players who play on a team with ranking <10 played
# more than 350 minutes?
# Reminder: len() gives number of rows in a dataframe

player_team = players.merge(teams, on='team')
num_player = player_team[player_team.ranking < 10].minutes[player_team.minutes > 350].count()
print("players who play on a team with ranking <10 played more than 350 minutes: ", num_player)

players who play on a team with ranking <10 played more than 350 minutes:  54

### <font color="green">**Your Turn Extra: Titanic Data**</font>

<font color="red">File access required:</font> In Colab these extra problems require first uploading **Titanic.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure this file is in the same workspace as the notebook.

In [76]:
# Read the Titanic data into a dataframe
f = open('Titanic.csv')
titanic = pd.read_csv(f)

In [77]:
# Show first few rows of titanic
titanic.head()

,last,first,gender,age,class,fare,embarked,survived
0,Abbing,Mr. Anthony,M,42.0,3,7.55,Southampton,no
1,Abbott,Mrs. Stanton (Rosa Hunt),F,35.0,3,20.25,Southampton,yes
2,Abbott,Mr. Rossmore Edward,M,16.0,3,20.25,Southampton,no
3,Abelson,Mr. Samuel,M,30.0,2,24.00,Cherbourg,no
4,Abelson,Mrs. Samuel (Hannah Wizosky),F,28.0,2,24.00,Cherbourg,yes

In [78]:
# How many married women over age 50 embarked in Cherbourg?
# Note: 'first' is a function in Pandas, so 'titanic.first' will generate an error;
# use 'titanic['first'] instead
mar_wom = titanic[(titanic['gender'] == 'F') & (titanic['age'] > 50) & (titanic['embarked'] == 'Cherbourg')]
mar_wom['age'].count()

6

In [86]:
# How many passengers are missing their age, and what is the
# average fare paid by these passengers?
# NOTE: Missing values in Pandas are null, printed as 'NaN', and
# function pd.isnull(v) checks whether a value is null.
titanic['first'][pd.isnull(titanic.age)].count()
titanic['fare'][pd.isnull(titanic.age)].mean()

22.15949152542373

In [87]:
# What is the average age of passengers in the three classes?
titanic.groupby('class').age.mean()

class
1    38.233441
2    29.877630
3    25.140620
Name: age, dtype: float64

In [89]:
# What was the highest fare paid by a male survivor, female survivor,
# male non-survivor, and female non-survivor? (four numbers)
highest_fare = titanic.groupby(['gender','survived']).fare.max()
print(highest_fare)

gender  survived
F       no          151.55
        yes         512.33
M       no          263.00
        yes         512.33
Name: fare, dtype: float64

In [113]:
# What is the survival rate of passengers in the three classes, i.e., what fraction
# of passengers in each class survived? What is the survival rate of females
# versus males? Of children (under 18) versus adults (age 18 or over)?
# NOTES: Missing ages automatically fail comparisons like in SQL, and 'class'
# is a function in Pandas, so 'titanic.class' will generate an error;
# use 'titanic['class'] instead
survived1 = titanic[titanic.survived == "yes"].groupby(['class']).gender.count()
not_survived1 = titanic[titanic.survived == "no"].groupby(['class']).gender.count()
survival_rate1 = survived1 / (survived1 + not_survived1)
print('Survival Rate Grouped By Class:')
print(survival_rate1)
print()
survival_rate2 = titanic[titanic.survived == "yes"].groupby(['gender']).gender.count() / titanic.gender.count()
print('Survival Rate Grouped By Gender:')
print(survival_rate2)
print()
survived_child = titanic[(titanic.age < 18) & (titanic.survived == "yes")].gender.count()
survived_adult = titanic[(titanic.age >= 18) & (titanic.survived == "yes")].gender.count()
print('Survived children:', survived_child)
print('Survived adults:', survived_adult)
survival_rate3 = survived_child / survived_adult
print('Children (under 18) versus adults (age 18 or over)',survival_rate3)

Survival Rate Grouped By Class:
class
1    0.629630
2    0.472826
3    0.242363
Name: gender, dtype: float64

Survival Rate Grouped By Gender:
gender
F    0.261504
M    0.122334
Name: gender, dtype: float64

Survived children: 61
Survived adults: 229
Children (under 18) versus adults (age 18 or over) 0.2663755458515284